.sidebar{
    position: fixed;
    height: 100dvh;
    width: 20%;
}

.sidebar_theme_white{

}

.sidebar__text_theme_white{
    color: rgb(67, 67, 67);
    font-weight: bold;
}

.sidebar__icon{
    width: 16px;
    height: 16px;
}

.sidebar__logo{
    width: 48px;
    height: 48px;
}